.dateRange
{
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.province
{
  margin-top: 10px;
  margin-left: 100px;
}
.city
{
  margin-top: 10px;
  margin-left: 20px;
}
.select
{

  margin-top: 10px;
  margin-left: 100px;
}
.search
{
  margin-top: 10px;
  margin-left: 20px;
}
.echart
{
  margin-top: 40vh;
  width: 100vw;
}
.detail
{
  margin-top: 1vh;
  margin-left: 20px;
  margin-right: 20px;
  height: 40vh;
}

