.info
{
  margin: 10px;
}
.return_button
{
  width: 80px;
  height: 40px;
  background-color: #57a9fb;
  margin-top: 30px ;
  margin-left:450px;
  font-size: 16px;
  background-color:#57a9fb;
  border-radius: 10px;
  cursor:pointer;
  color:white ;
  font-weight: bold;
  border:none;
  float: left;
}
.save_button
{
  width: 80px;
  height: 40px;
  background-color: #57a9fb;
  margin-top: 30px ;
  margin-left:400px;
  font-size: 16px;
  background-color:#57a9fb;
  border-radius: 10px;
  cursor:pointer;
  color:white ;
  font-weight: bold;
  border:none;
  float: left;
}
.return
{
  width: 80px;
  height: 40px;
  background-color: #57a9fb;
  margin-top: 30px ;
  margin-left:44%;
  font-size: 16px;
  background-color:#57a9fb;
  border-radius: 10px;
  cursor:pointer;
  color:white ;
  font-weight: bold;
  border:none;
  float: left;
}
.applicationInfo
{
  margin-left: 5px;
  margin-top: 10px;
  height: 22vh;
  width: 84vw;
  overflow: auto;
  resize: none;
}
